<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movie Manager</title>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
  </head>
  <body ng-app="myApp">
    <div class="container" ng-controller="AppController" style="margin-bottom: 2em;">
      <div class="page-header">
        <h1>Movie List</h1>
      </div>
      <div class="alert alert-info" role="alert" ng-hide="movies && movies.length > 0">
        There are no movies yet.
      </div>

      <div id="list-movies" ng-hide="!movies || movies.length == 0">
        <div class="form-inline form-group">
          <label for="filter">Search: </label>
          <input id="filter" class="form-control" ng-model="query">
        </div>
        
        <table class="table table-striped">
          <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Year</th>
            <th></th>
          </tr>

          <tr ng-repeat="movie in movies | filter: query | orderBy: 'title'">
            <td>
              {{ movie.title }}
            </td>
            <td>
              {{ movie.director }}
            </td>
             <td>
              {{ movie.year }}
            </td>
            <td>
              <button class="pull-right btn btn-danger" type="button" title="Delete" ng-click="deleteMovie(movie)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
          <tr>
            <form class="form-horizontal" role="form" ng-submit="addMovie(newMovie)">
              <td>            
                <input type="text" id="newTitle" class="form-control" ng-model="newMovie.title" placeholder="Enter title..." required />
              </td>
              <td>
                <input type="text" id="newPlace" class="form-control" ng-model="newMovie.director" placeholder="Enter director..." required />
              </td>
              <td>
                <input type="number" id="newYear" class="form-control" ng-model="newMovie.year" placeholder="Enter year..." required />
              </td>
              <td>
                <button class="pull-right btn btn-default" type="submit" ng-disabled="!newMovie.title || !newMovie.director || !newMovie.year" title="Add">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </td>
            </form>
          </tr>
        </table>
      </div>
      
      <div id="messages">
        <span class="alert alert-info" ng-hide="!message">{{ message }}</span>
      </div>

    </div>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
  </body>
</html>